<!-- <h1>{{ title }}</h1>

<p>Welcome to {{ name }}!</p> -->

<!-- <h1>{{ title }}</h1>

 <button (click)="handleClick()">Click Me</button>

 <login></login> -->

<!-- <h1>Counter App</h1>
<p>Counter: {{ count }}</p>
<div>
  <button (click)="increment()">Increment</button>
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>
</div> -->

<!-- 
<h1>Event Handling Example</h1>

<button name="btn" (click)="handleEvent($event)">click me </button> -->

<!-- Get & Set Input value  -->

<!-- {{ name }}
 <input type="text" value={{name}} (input)="getValue($event)"  placeholder="enter the value" >


 {{displyName}}
<button (click)="showName()">Get The Name</button>

<button (click)="setName()">Set Name</button> -->

<!-- if else flow -->

<!-- @if(isDispaly){
  <h1>Welcome to Angular</h1>
} -->

<!-- for loop -->

<!-- @for (user of users; track user) {
  <p>{{ user }}</p>
}


@for (student of students; track student.name) {
  <p>{{ student.name }} - {{ student.age }}</p>
} -->
<!-- 
WritableSinga and Computed -->

<!-- <p>{{ count() }}</p>

<p>{{ doubleCount() }}</p>

<button (click)="count.set(count() + 1)">
  Increase
</button>

<button (click)="count.set(count() - 1)">
  Decrease
</button>  -->

<!-- <h1>{{ count() }}</h1>

<button (click)="count.set(count() + 1)">Increase</button> -->

<!-- 
Two way data binding -->

<!-- <input type="text" [(ngModel)]="name" placeholder="Enter your name">

<p>Your name is: {{ name }}</p> -->

<!-- Directives in Angular -->

<h1 *ngIf="show">Welcome to Angular</h1>

<!-- ngFor loop -->

<!-- <div *ngFor="let fruit of fruits; let i = index">
  {{ i + 1 }}. {{ fruit }}
</div>


<div *ngFor="let student of students">

  <h2>ID: {{ student.id }}</h2>
  <h3>Name: {{ student.name }}</h3>
  <p>Course: {{ student.course }}</p>

  <hr>

</div> -->

<!-- Routing in Angular -->
  <a routerLink="/">Home</a>

  <a routerLink="/about">About</a>

  <a routerLink="/contact">Contact</a>

  
<router-outlet>

</router-outlet>
