<!-- <h1>{{ title }}</h1>

<p>Welcome to {{ name }}!</p> -->

<!-- <h1>{{ title }}</h1>

 <button (click)="handleClick()">Click Me</button>

 <login></login> -->

<!-- <h1>Counter App</h1>
<p>Counter: {{ count }}</p>
<div>
  <button (click)="increment()">Increment</button>
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>
</div> -->

<!-- 
<h1>Event Handling Example</h1>

<button name="btn" (click)="handleEvent($event)">click me </button> -->

<!-- Get & Set Input value  -->

<!-- {{ name }}
 <input type="text" value={{name}} (input)="getValue($event)"  placeholder="enter the value" >


 {{displyName}}
<button (click)="showName()">Get The Name</button>

<button (click)="setName()">Set Name</button> -->

<!-- if else flow -->

<!-- @if(isDispaly){
  <h1>Welcome to Angular</h1>
} -->

<!-- for loop -->

<!-- @for (user of users; track user) {
  <p>{{ user }}</p>
}


@for (student of students; track student.name) {
  <p>{{ student.name }} - {{ student.age }}</p>
} -->
<!-- 
WritableSinga and Computed -->

<!-- <p>{{ count() }}</p>

<p>{{ doubleCount() }}</p>

<button (click)="count.set(count() + 1)">
  Increase
</button>

<button (click)="count.set(count() - 1)">
  Decrease
</button>  -->

<!-- <h1>{{ count() }}</h1>

<button (click)="count.set(count() + 1)">Increase</button> -->
